*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;    
    min-height: 100vh;
    max-width: 900px;
    margin: 20px auto;
    gap: 20px;
}

.box {
    border-radius: 10px;
}
.account-summary {
    flex-basis: 200px;
    background-color: rgba(152, 176, 241, 0.523);
}
.btn{
    padding: 8px;
    min-width: 150px;
    margin-right: 20px;
    color: #11608d;
    background-color: rgba(152, 176, 241, 0.523);
    border: none;   
    border-radius: 5px; 
    cursor: pointer;
}
 .btn:hover, .btn-find:hover {
    background-color: #96bfd6;
 }
.btn-find {
    padding: 5px;
    width: 50px;
    color: #11608d;
    background-color: rgb(152, 175, 241);
    border: none;       
    cursor: pointer;
    height: 30px;
}

.account-summary {
    display: flex;
    flex-direction: column;
    padding: 15px;   

}
.summary{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.balance {
    text-align: center;
    margin-bottom: 10px;
    color: #11608d;
    font-size: 24px;
    font-weight: bold;
}
.account-info{    
    border: 1px solid #11608d;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #11608d;
}
.card-title {
    text-align: center;
    background-color: rgb(152, 175, 241);;
    color: #11608d;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.card-body {
    padding: 5px;
}
.user-info{
    border: 1px solid #11608d;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    display: flex;
    flex-direction: column;
    color: #11608d;
}

#address {
    padding-left: 80px;
}
.account-actions{
    flex-basis: 100px;
    background-color: rgb(219, 238, 237);
    padding: 15px;   
}
.actions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#search {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;    
}
#search:focus {
    outline: none;
}

.deposit {
    display: none;
    margin-top: 20px;
    color: #11608d;
}

fieldset {
    min-height: 90px;
    padding: 10px;
    min-width: 300px;
}
.transfer {
    display: none;
    margin-top: 20px;
    color: #11608d;
}

.withdraw {
    display: none;
    margin-top: 20px;
    color: #11608d;
}

.transfer div, .deposit div, .withdraw div {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}
.transfer select, input, .deposit input, .withdraw input {
    flex-grow: 1;
}
.transfer button, .deposit button {
    flex-grow: 1;    
}
.account-transactions {
    flex-basis: auto;
    flex-grow: 1;
    background-color: rgb(219, 238, 237);    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}



table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:0 auto;
	}

/* Zebra striping */
tr:nth-of-type(even) { 
	background: #fff; 
	}

th { 
    background-color: rgb(152, 175, 241);;
	color: #11608d; 
	font-weight: bold; 
	}

td, th { 
	padding: 5px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
	}